In [4]:
import pandas as pd
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt
import colorsys
import seaborn as sns
import datetime

In [ ]:
df = pd.read_csv("costofliving.csv", sep = ',')

In [ ]:
df.shape

In [ ]:
df.head(50)

In [12]:
y = int(2.8)
y

2

In [ ]:
#Checando se há valores nulos
df.isnull().sum()

In [ ]:
#Numerando a coluna Rank
listrank = list(range(1,579))

In [ ]:
listrank

In [ ]:
df['Rank'] = listrank

In [ ]:
#Separando país da cidade e criando a coluna country
df[['City2', 'Country', 'Nada']] = df['City'].str.split(',', expand=True)

In [ ]:
df

In [ ]:
#Ao separar as colunas, criou três. Nomeei como nada e removi
del df['Nada']

In [ ]:
df.head(100)

In [ ]:
#Reordenando a ordem das colunas e apagando a coluna City, que continha cidade e país
df = df.reindex(columns=['Rank','City2', 'Country','City','Cost of Living Index','Rent Index',
                         'Cost of Living Plus Rent Index','Groceries Index', 'Restaurant Price Index'])
del df['City']

In [ ]:
#renomeando coluna
df = df.rename(columns={'City2': 'City'})
df

In [ ]:
#Cidades dos Estados Unidos estão com a sigla dos estados e não com o nome do país. Correção
df.loc[df['Country'].isin( [' AL', ' AK', ' AZ', ' AR', ' CA', ' CO', ' CT', ' DE', ' FL', ' GA',
                            ' HI', ' ID', ' IL', ' IN', ' IA', ' KS', ' KY', ' LA', ' ME', ' MD',
                            ' MA', ' MI', ' MN', ' MS', ' MO', ' MT', ' NE', ' NV', ' NH', ' NJ',
                            ' NM', ' NY', ' NC', ' ND', ' OH', ' OK', ' OR', ' PA', ' RI', ' SC',
                            ' SD', ' TN', ' TX', ' UT', ' VT', ' VA', ' WA', ' WV', ' WI', ' WY']), 'Country'] = 'United States'

In [ ]:
df

In [ ]:
df.head(50)

In [ ]:
#após tratamento de dados, df salvo em novo arquivo csv
df.to_csv(r'C:\Users\vilia\Desktop\datasets\costofliving2.csv', index=False)

In [ ]:
df = pd.read_csv("costofliving2.csv", sep = ',')
df

In [ ]:
#Histograma por país, no top 50 de cidades mais caras
top50 = df.head(50)
top50

In [ ]:
#Quantidade de cidades por país no top 50
plt.figure(figsize = (20,8))
plt.hist(top50['Country'])
plt.title('Quantidade de cidades por país no top 50')
plt.ylabel('Frequência')
plt.xlabel('Países')

In [ ]:
top20 = df.head(20)
top20

In [ ]:
# Figura
plt.figure(figsize = (20,8))

# Barplot
sns.barplot(y = top20['City'], x = top20['Cost of Living Index'], orient = "h", palette = "terrain")

plt.ylabel('Cidade')             
plt.xlabel('\nÍndice de Custo de Vida')
plt.title('\nTop 20 de Cidades com Maior Custo de Vida\n')
plt.show()

In [ ]:
#ranking de cidades com aluguel mais caro
Top20Aluguel = df.sort_values(by=['Cost of Living Plus Rent Index'], ascending=False).head(20)
Top20Aluguel

In [ ]:
# Figura
plt.figure(figsize = (20,8))

# Barplot
sns.barplot(y = Top20Aluguel['City'], x = Top20Aluguel['Cost of Living Plus Rent Index'], orient = "h", palette = "deep")

plt.ylabel('Cidade')             
plt.xlabel('\nÍndice de Custo de Vida para Aluguel')
plt.title('\nTop 20 de Cidades com Maior Aluguel\n')
plt.show()

In [ ]:
#separando cidades dos eua
cidadeseua = df.loc[df['Country'] ==  'United States']
cidadeseua

In [ ]:
#Top 10 cidade dos eua com alugueis mais caros
cidadeseua = cidadeseua.sort_values(by=['Cost of Living Plus Rent Index'], ascending=False).head(10)
cidadeseua

In [ ]:
plt.figure(figsize = (22,8))

# Barplot
sns.barplot(y = cidadeseua['City'], x = cidadeseua['Cost of Living Plus Rent Index'], orient = "h", palette = "muted")

plt.ylabel('Cidade')             
plt.xlabel('\nÍndice de Custo de Vida para Aluguel')
plt.title('\nTop 10 de Cidades dos Estados Unidos com Maior Aluguel\n')
plt.show()

In [ ]:
df